<app-header [menu]="menu"></app-header>
<mat-sidenav-container>
  <mat-sidenav #menu mode="side" opened>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
    <div class="main_content">
      <ngx-loading-bar [fixed]="false" height="0.3em" [includeSpinner]="false"></ngx-loading-bar>
      <div style="padding: 1.2em">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
