.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.table-container {
  width: 98%;
  max-height: 40em;
  overflow-scrolling: auto;
}

.ativo {
  background-color: darkgreen;
  color: whitesmoke;
}

.inativo {
  background-color: darkred;
  color: whitesmoke;
}

::ng-deep .mat-tab-label {
  cursor: default !important;
}
